{% extends "layout.html" %}

{% block title %} chat {% endblock %}

{% block main %}

<h1 style="text-align: center; outline-color: red;">Chat</h1>
{% for row in msg_row %}
<div class="alert alert-primary msg_container" role="alert">
    <!-- <img src="/w3images/avatar_g2.jpg" alt="Avatar" class="right"> -->
    <h5 >{{ row["first_name"] }}</h5>
    <p style="text-align: center;">{{ row["message"] }}</p>
    <span class="time-left">{{ row["datetime"] }}</span>
  </div>
{% endfor %}
<form action="/chat" method="post">
    <div class="input-group mb-3 input_box">
        <input type="text" class="form-control" placeholder="Your message" aria-label="message" id ="message" name = "message" aria-describedby="basic-addon2" autofocus>
        <button type="submit" class="btn btn-primary">Send</button>
    </div>
</form>
<script>
    function scrollBottom() {window.scrollTo(0, 99999);}
if (document.addEventListener) document.addEventListener("DOMContentLoaded", scrollBottom, false)
else if (window.attachEvent) window.attachEvent("onload", scrollBottom);
</script>

{% endblock %}