{% extends "layout.html" %}

{% block title %} Create Card {% endblock %}

{% block main %}

<h1 class="center">Create Card</h1>

<form action="/create_card" method="post">
    <div class="container-fluid">
        <h3>Title</h3>
        <input type="text" name="title" id="title" required>
        <br>
        <hr>
        <br>
        <div class="form-outline mb-4">
            <textarea class="form-control" id="content" name="content" rows="4" required></textarea>
          </div>
        <input type="submit" value="Create" class="btn btn-primary">

    </div>
</form>

{% endblock %}